In [ ]:
# Dependencies :  pandas, numpy, matplotlib, os, cvs_reader, stats,

In [26]:
import pandas as pd
import os

In [27]:
# reading data and set the DataFrame

In [28]:
data_file_1 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--evtf.csv')
data_file_2 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--evtf.csv')
data_file_3 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--evtf.csv')
data_file_4 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--evtf.csv')

event_pd1 = pd.read_csv(data_file_1)
event_pd2 = pd.read_csv(data_file_2)
event_pd3 = pd.read_csv(data_file_3)
event_pd4 = pd.read_csv(data_file_4)

print(event_pd1.shape)
print(event_pd2.shape)
print(event_pd3.shape)
print(event_pd4.shape)

data_file_5 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--ltdata.csv')
data_file_6 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--ltdata.csv')
data_file_7 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--ltdata.csv')
data_file_8 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--ltdata.csv')

data_pd1 = pd.read_csv(data_file_5)
data_pd2 = pd.read_csv(data_file_6)
data_pd3 = pd.read_csv(data_file_7)
data_pd4 = pd.read_csv(data_file_8)

print(data_pd1.shape)
print(data_pd2.shape)
print(data_pd3.shape)
print(data_pd4.shape)

(76776, 2)
(75208, 2)
(88175, 2)
(88964, 2)
(687, 7)
(687, 7)
(687, 7)
(687, 7)

In [29]:
# merge all the the event files to event_full_df

In [30]:
frames = [event_pd1,event_pd2,event_pd3,event_pd4]
event_full_df = pd.concat(frames)
print(event_full_df.shape)
event_full_df

(329123, 2)

               ut_ms              description
0      1219364253000  MLG_LOS_05_/_RTLT_02373
1      1219364356000  NNO_AOS_00_/_RTLT_02373
2      1219365058000  MLG_LOS_02_/_RTLT_02373
3      1219365755000  NNO_AOS_05_/_RTLT_02373
4      1219367159000  NNO_AOS_10_/_RTLT_02374
...              ...                      ...
88959  1456788144000           2000_KM_ASCEND
88960  1456788281000  MRB_/_RANGE_06000KM_END
88961  1456788582000  KLZ_AOS_05_/_RTLT_01076
88962  1456789457000           4000_KM_ASCEND
88963  1456790121000               MRB_AOS_00

[329123 rows x 2 columns]

In [31]:
# merge the all the data files to data_full_df

In [32]:
frames_data = [data_pd1,data_pd2,data_pd3,data_pd4]
data_full_df = pd.concat(frames_data)
print(data_full_df.shape)
data_full_df

(2748, 7)

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333
3,1219622400000,2.415193e+08,3.573744e+08,19.039052,524.080161,0.000000,26.100000
4,1219708800000,2.413773e+08,3.578973e+08,18.863029,524.697233,0.000000,25.750000
...,...,...,...,...,...,...,...
682,1456358400000,2.426225e+08,1.686769e+08,36.964348,519.325219,20.366667,0.000000
683,1456444800000,2.424894e+08,1.671778e+08,36.919179,519.895378,20.150000,0.000000
684,1456531200000,2.423552e+08,1.656819e+08,36.869195,520.471408,19.916667,0.000000
685,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000
686,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000

In [ ]:
# Q1: how many times the eclipses happened per year?

In [ ]:
# group the event_full and count the times of eclipses : count the Mar_penumbra_start

In [ ]:
# Q2: the average number of eclipses happened in 4 year?

In [ ]:
# groupby and find the mean()

In [ ]:
# Q3: is the duration related to the distances to sun?

In [ ]:
# get the duration of eclipses and add to the data_full

In [ ]:
# split the data_full to few parts depends on the comparison of distance to sun (from away to closer)