In [ ]:
# Dependencies :  pandas, numpy, matplotlib, os, cvs_reader, stats,

In [1]:
import pandas as pd
import os

In [2]:
# reading data and set the DataFrame

In [12]:
data_file_1 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--evtf.csv')
data_file_2 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--evtf.csv')
data_file_3 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--evtf.csv')
data_file_4 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--evtf.csv')

event_pd1 = pd.read_csv(data_file_1)
event_pd2 = pd.read_csv(data_file_2)
event_pd3 = pd.read_csv(data_file_3)
event_pd4 = pd.read_csv(data_file_4)

# print(event_pd1.shape)
# print(event_pd2.shape)
# print(event_pd3.shape)
# print(event_pd4.shape)

data_file_5 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--ltdata.csv')
data_file_6 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--ltdata.csv')
data_file_7 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--ltdata.csv')
data_file_8 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--ltdata.csv')

data_pd1 = pd.read_csv(data_file_5)
data_pd2 = pd.read_csv(data_file_6)
data_pd3 = pd.read_csv(data_file_7)
data_pd4 = pd.read_csv(data_file_8)

# print(data_pd1.shape)
# print(data_pd2.shape)
# print(data_pd3.shape)
# print(data_pd4.shape)


frames = [event_pd1,event_pd2,event_pd3,event_pd4]
event_full_df = pd.concat(frames,ignore_index=True)
# print(event_full_df.shape)
print(event_full_df.head(3))


frames_data = [data_pd1,data_pd2,data_pd3,data_pd4]
data_full_df = pd.concat(frames_data,ignore_index = True)
# print(data_full_df.shape)
print(data_full_df.head(3))

           ut_ms              description
0  1219364253000  MLG_LOS_05_/_RTLT_02373
1  1219364356000  NNO_AOS_00_/_RTLT_02373
2  1219365058000  MLG_LOS_02_/_RTLT_02373
           ut_ms    sunmars_km  earthmars_km  sunmarsearthangle_deg  \
0  1219363200000  2.419389e+08  3.557560e+08              19.565076
1  1219449600000  2.418002e+08  3.563037e+08              19.390075
2  1219536000000  2.416603e+08  3.568432e+08              19.214734

   solarconstantmars  eclipseduration_min  occultationduration_min
0         522.263999             4.166667                27.400000
1         522.863537             1.783333                26.933333
2         523.468926             0.000000                26.583333

In [34]:
#defin "round_down"

import math
def round_down(x):
    return int (math.floor(x - 1219363200000	)/1000/60/60/24+1)

In [35]:
# event_full_df.dtypes

In [36]:
# round down the event_full_df
round_event = event_full_df['ut_ms'].apply(round_down)
event_full_df['round_time'] = round_event
event_full_df.head(3)

           ut_ms              description  round_time
0  1219364253000  MLG_LOS_05_/_RTLT_02373           1
1  1219364356000  NNO_AOS_00_/_RTLT_02373           1
2  1219365058000  MLG_LOS_02_/_RTLT_02373           1

In [37]:
#pick up the eclipse events

ut_ms_list = []
desc_list = []
round_list = []


next (event_full_df.iterrows())
for index, row in event_full_df.iterrows():
#     if (row['description']== "MAR_PENUMBRA_START" ):
#         ut_ms_list.append (row['ut_ms'])
#         desc_list.append (row['description'])
#         round_list.append (row['round_time'])
# #         print (index,row['ut_ms'],row['description'] )
    if (row['description'] == "MAR_PENUMBRA_END"):
        ut_ms_list.append (row['ut_ms'])
        desc_list.append (row['description'])
        round_list.append (row['round_time'])
#         print (index,row['ut_ms'],row['description'] )


event_filter_dict = {'ut_ms': ut_ms_list,
                   'description': desc_list,
                   'round_time': round_list
    
}

event_filter_df = pd.DataFrame(event_filter_dict)

event_filter_df


# output_data_file = "../mars_data_raw/event_filter.csv"

# event_filter_df.to_csv(output_data_file)

              ut_ms       description  round_time
0     1219371152000  MAR_PENUMBRA_END           1
1     1219395791000  MAR_PENUMBRA_END           1
2     1219420417000  MAR_PENUMBRA_END           1
3     1219445050000  MAR_PENUMBRA_END           1
4     1219469664000  MAR_PENUMBRA_END           2
...             ...               ...         ...
5020  1456686538000  MAR_PENUMBRA_END        2747
5021  1456711721000  MAR_PENUMBRA_END        2748
5022  1456736910000  MAR_PENUMBRA_END        2748
5023  1456762097000  MAR_PENUMBRA_END        2748
5024  1456787288000  MAR_PENUMBRA_END        2748

[5025 rows x 3 columns]

In [38]:
# find the duration of each eclipse 
time_start = 0
time_end = 0
duration = []

next (event_full_df.iterrows())
for index, row in event_full_df.iterrows():
    if (row['description']== "MAR_PENUMBRA_START" ):
        time_start = row['ut_ms']
#       print (index,row['ut_ms'],row['description'] )
    if (row['description'] == "MAR_PENUMBRA_END"):
        time_end = row['ut_ms']
#         print (index,row['ut_ms'],row['description'] )
        
        duration.append((time_end - time_start)/60/1000)
    
# for i in duration:
#     print(i)
        
len(duration)

5025

In [39]:
# add "duration" to event _filter_df
event_filter_df['duration'] = duration
event_filter_df.head(3)

           ut_ms       description  round_time  duration
0  1219371152000  MAR_PENUMBRA_END           1  4.166667
1  1219395791000  MAR_PENUMBRA_END           1  3.750000
2  1219420417000  MAR_PENUMBRA_END           1  3.150000

In [40]:
#round down the data_full_df

round_data = data_full_df['ut_ms'].apply(round_down)
data_full_df['round_time'] = round_data
data_full_df.head(3)

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,round_time,season,group
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,1,1,
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333,2,1,
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333,3,1,

In [41]:
# mark the distance to sun '1'means decreasing; '2' means increasing

# prev_row = 0
j = 1
data_full_df['season'] = ""
data_full_df['group'] = ""
for i in range(len(data_full_df)):
    if float (data_full_df['sunmars_km'][i])<prev_row:
        data_full_df['season'][i]=1
    if float (data_full_df['sunmars_km'][i])>prev_row:
        data_full_df['season'][i]=2
        
    prev_row = data_full_df['sunmars_km'][i]
    
    
    
# for i in range(len(data_full_df)):
#     if data_full_df['season'][i] != prev_row:
#         data_full_df['group'][i]= j
#     j = j+1
#     prev_row = data_full_df['season'][i]
    
    
        
print (data_full_df)

# output_data_file = "../mars_data_raw/data_full_season.csv"
# data_full_df.to_csv(output_data_file)

C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

              ut_ms    sunmars_km  earthmars_km  sunmarsearthangle_deg  \
0     1219363200000  2.419389e+08  3.557560e+08              19.565076
1     1219449600000  2.418002e+08  3.563037e+08              19.390075
2     1219536000000  2.416603e+08  3.568432e+08              19.214734
3     1219622400000  2.415193e+08  3.573744e+08              19.039052
4     1219708800000  2.413773e+08  3.578973e+08              18.863029
...             ...           ...           ...                    ...
2743  1456358400000  2.426225e+08  1.686769e+08              36.964348
2744  1456444800000  2.424894e+08  1.671778e+08              36.919179
2745  1456531200000  2.423552e+08  1.656819e+08              36.869195
2746  1456617600000  2.422198e+08  1.641893e+08              36.814280
2747  1456704000000  2.420833e+08  1.627003e+08              36.754316

      solarconstantmars  eclipseduration_min  occultationduration_min  \
0            522.263999             4.166667                27.400000
1            522.863537             1.783333                26.933333
2            523.468926             0.000000                26.583333
3            524.080161             0.000000                26.100000
4            524.697233             0.000000                25.750000
...                 ...                  ...                      ...
2743         519.325219            20.366667                 0.000000
2744         519.895378            20.150000                 0.000000
2745         520.471408            19.916667                 0.000000
2746         521.053305            19.633333                 0.000000
2747         521.641064            19.383333                 0.000000

      round_time season group
0              1      1
1              2      1
2              3      1
3              4      1
4              5      1
...          ...    ...   ...
2743        2744      1
2744        2745      1
2745        2746      1
2746        2747      1
2747        2748      1

[2748 rows x 10 columns]

In [42]:
# convert 'MS' to date
# ms_list_event = []
# for i in range(len(event_filter_df)):
#     ms_list_event.append(event_filter_df['ut_ms'][i])

# event_array = pd.to_datetime(ms_list_event,unit='ms'). to_pydatetime()
# event_filter_df['date']= event_array


# ms_list_data = []
# for i in range(len(data_full_df)):
#     ms_list_data.append(data_full_df['ut_ms'][i])

# data_array = pd.to_datetime(ms_list_data,unit='ms'). to_pydatetime()
# data_full_df['date']= data_array

# data_full_df

In [43]:
#merge event_filter_df and data_full_df into Mars_full_df

mars_full_df = pd.merge(event_filter_df,data_full_df,on = 'round_time')
print(mars_full_df)

output_data_file = "../mars_data_raw/mars_full_data.csv"
mars_full_df.to_csv(output_data_file)

            ut_ms_x       description  round_time   duration        ut_ms_y  \
0     1219371152000  MAR_PENUMBRA_END           1   4.166667  1219363200000
1     1219395791000  MAR_PENUMBRA_END           1   3.750000  1219363200000
2     1219420417000  MAR_PENUMBRA_END           1   3.150000  1219363200000
3     1219445050000  MAR_PENUMBRA_END           1   2.800000  1219363200000
4     1219469664000  MAR_PENUMBRA_END           2   1.783333  1219449600000
...             ...               ...         ...        ...            ...
5020  1456686538000  MAR_PENUMBRA_END        2747  19.466667  1456617600000
5021  1456711721000  MAR_PENUMBRA_END        2748  19.383333  1456704000000
5022  1456736910000  MAR_PENUMBRA_END        2748  19.300000  1456704000000
5023  1456762097000  MAR_PENUMBRA_END        2748  19.216667  1456704000000
5024  1456787288000  MAR_PENUMBRA_END        2748  19.150000  1456704000000

        sunmars_km  earthmars_km  sunmarsearthangle_deg  solarconstantmars  \
0     2.419389e+08  3.557560e+08              19.565076         522.263999
1     2.419389e+08  3.557560e+08              19.565076         522.263999
2     2.419389e+08  3.557560e+08              19.565076         522.263999
3     2.419389e+08  3.557560e+08              19.565076         522.263999
4     2.418002e+08  3.563037e+08              19.390075         522.863537
...            ...           ...                    ...                ...
5020  2.422198e+08  1.641893e+08              36.814280         521.053305
5021  2.420833e+08  1.627003e+08              36.754316         521.641064
5022  2.420833e+08  1.627003e+08              36.754316         521.641064
5023  2.420833e+08  1.627003e+08              36.754316         521.641064
5024  2.420833e+08  1.627003e+08              36.754316         521.641064

      eclipseduration_min  occultationduration_min season group
0                4.166667                27.400000      1
1                4.166667                27.400000      1
2                4.166667                27.400000      1
3                4.166667                27.400000      1
4                1.783333                26.933333      1
...                   ...                      ...    ...   ...
5020            19.633333                 0.000000      1
5021            19.383333                 0.000000      1
5022            19.383333                 0.000000      1
5023            19.383333                 0.000000      1
5024            19.383333                 0.000000      1

[5025 rows x 13 columns]

In [46]:
mars_full_df["year"]=""
for i in range(len(mars_full_df)):
    if mars_full_df["round_time"][i] <= 687:
        mars_full_df["year"][i] = 1
    
    if 687 < mars_full_df["round_time"][i] <= 1374:
        mars_full_df["year"][i] = 2 
    
    if 1374 < mars_full_df["round_time"][i] <= 2061:
        mars_full_df["year"][i] = 2 
    
    if 2061 < mars_full_df["round_time"][i] <= 2748:
        mars_full_df["year"][i] = 2 
        
mars_full_df

C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,ut_ms_x,description,round_time,duration,ut_ms_y,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,season,group,year
0,1219371152000,MAR_PENUMBRA_END,1,4.166667,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,1,,1
1,1219395791000,MAR_PENUMBRA_END,1,3.750000,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,1,,1
2,1219420417000,MAR_PENUMBRA_END,1,3.150000,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,1,,1
3,1219445050000,MAR_PENUMBRA_END,1,2.800000,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,1,,1
4,1219469664000,MAR_PENUMBRA_END,2,1.783333,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333,1,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5020,1456686538000,MAR_PENUMBRA_END,2747,19.466667,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000,1,,2
5021,1456711721000,MAR_PENUMBRA_END,2748,19.383333,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,1,,2
5022,1456736910000,MAR_PENUMBRA_END,2748,19.300000,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,1,,2
5023,1456762097000,MAR_PENUMBRA_END,2748,19.216667,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,1,,2
5024,1456787288000,MAR_PENUMBRA_END,2748,19.150000,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,1,,2

In [60]:
#  select useful column to get the final_df

final_dict = {"eclipse_day":[],
              "duration":[],
              "sunmars_km":[],
              "earthmars_km":[],
              "sunmarsearthangle_deg":[],
              "solarconstantmars":[],
              "dist_shift":[],
              "year":[]
    
}

final_dict["eclipse_day"] = mars_full_df["round_time"]
final_dict["duration"] = mars_full_df["duration"]
final_dict["sunmars_km"] = mars_full_df["sunmars_km"]
final_dict["earthmars_km"] = mars_full_df["earthmars_km"]
final_dict["sunmarsearthangle_deg"] = mars_full_df["sunmarsearthangle_deg"]
final_dict["solarconstantmars"] = mars_full_df["solarconstantmars"]
final_dict["dist_shift"] = mars_full_df["season"]
final_dict["year"] = mars_full_df["year"]



final_df = pd.DataFrame(final_dict)

final_df

output_data_file = "../mars_data_raw/final_data.csv"
final_df.to_csv(output_data_file)