In [ ]:
# Dependencies :  pandas, numpy, matplotlib, os, cvs_reader, stats,

In [1]:
import pandas as pd
import os

In [2]:
# reading data and set the DataFrame

In [3]:
data_file_1 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--evtf.csv')
data_file_2 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--evtf.csv')
data_file_3 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--evtf.csv')
data_file_4 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--evtf.csv')

event_pd1 = pd.read_csv(data_file_1)
event_pd2 = pd.read_csv(data_file_2)
event_pd3 = pd.read_csv(data_file_3)
event_pd4 = pd.read_csv(data_file_4)

print(event_pd1.shape)
print(event_pd2.shape)
print(event_pd3.shape)
print(event_pd4.shape)

data_file_5 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--ltdata.csv')
data_file_6 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--ltdata.csv')
data_file_7 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--ltdata.csv')
data_file_8 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--ltdata.csv')

data_pd1 = pd.read_csv(data_file_5)
data_pd2 = pd.read_csv(data_file_6)
data_pd3 = pd.read_csv(data_file_7)
data_pd4 = pd.read_csv(data_file_8)

print(data_pd1.shape)
print(data_pd2.shape)
print(data_pd3.shape)
print(data_pd4.shape)

(76776, 2)
(75208, 2)
(88175, 2)
(88964, 2)
(687, 7)
(687, 7)
(687, 7)
(687, 7)

In [4]:
# merge all the the event files to event_full_df

In [5]:
frames = [event_pd1,event_pd2,event_pd3,event_pd4]
event_full_df = pd.concat(frames,ignore_index=True)
print(event_full_df.shape)
event_full_df

(329123, 2)

                ut_ms              description
0       1219364253000  MLG_LOS_05_/_RTLT_02373
1       1219364356000  NNO_AOS_00_/_RTLT_02373
2       1219365058000  MLG_LOS_02_/_RTLT_02373
3       1219365755000  NNO_AOS_05_/_RTLT_02373
4       1219367159000  NNO_AOS_10_/_RTLT_02374
...               ...                      ...
329118  1456788144000           2000_KM_ASCEND
329119  1456788281000  MRB_/_RANGE_06000KM_END
329120  1456788582000  KLZ_AOS_05_/_RTLT_01076
329121  1456789457000           4000_KM_ASCEND
329122  1456790121000               MRB_AOS_00

[329123 rows x 2 columns]

In [6]:
#defin "round_down"

import math
def round_down(x):
    return int (math.floor(x - 1219363200000	)/1000/60/60/24)

In [7]:
event_full_df.dtypes

ut_ms           int64
description    object
dtype: object

In [8]:
# round down the event_full_df
round_event = event_full_df['ut_ms'].apply(round_down)
event_full_df['round_time'] = round_event
event_full_df.head(3)

           ut_ms              description  round_time
0  1219364253000  MLG_LOS_05_/_RTLT_02373           0
1  1219364356000  NNO_AOS_00_/_RTLT_02373           0
2  1219365058000  MLG_LOS_02_/_RTLT_02373           0

In [9]:
#pick up the eclipse events

ut_ms_list = []
desc_list = []
round_list = []


next (event_full_df.iterrows())
for index, row in event_full_df.iterrows():
    if (row['description']== "MAR_PENUMBRA_START" ):
        ut_ms_list.append (row['ut_ms'])
        desc_list.append (row['description'])
        round_list.append (row['round_time'])
#         print (index,row['ut_ms'],row['description'] )
    if (row['description'] == "MAR_PENUMBRA_END"):
        ut_ms_list.append (row['ut_ms'])
        desc_list.append (row['description'])
        round_list.append (row['round_time'])
#         print (index,row['ut_ms'],row['description'] )


event_filter_dict = {'ut_ms': ut_ms_list,
                   'description': desc_list,
                   'round_time': round_list
    
}

event_filter_df = pd.DataFrame(event_filter_dict)

event_filter_df


# output_data_file = "../mars_data_raw/event_filter.csv"

# event_filter_df.to_csv(output_data_file)

               ut_ms         description  round_time
0      1219370902000  MAR_PENUMBRA_START           0
1      1219371152000    MAR_PENUMBRA_END           0
2      1219395566000  MAR_PENUMBRA_START           0
3      1219395791000    MAR_PENUMBRA_END           0
4      1219420228000  MAR_PENUMBRA_START           0
...              ...                 ...         ...
10045  1456736910000    MAR_PENUMBRA_END        2747
10046  1456760944000  MAR_PENUMBRA_START        2747
10047  1456762097000    MAR_PENUMBRA_END        2747
10048  1456786139000  MAR_PENUMBRA_START        2747
10049  1456787288000    MAR_PENUMBRA_END        2747

[10050 rows x 3 columns]

In [10]:
# find the duration of each eclipse 
# time_start = 0
# time_end = 0
# duration = []

# next (event_full_df.iterrows())
# for index, row in event_full_df.iterrows():
#     if (row['description']== "MAR_PENUMBRA_START" ):
#         time_start = row['ut_ms']
# #       print (index,row['ut_ms'],row['description'] )
#     if (row['description'] == "MAR_PENUMBRA_END"):
#         time_end = row['ut_ms']
# #         print (index,row['ut_ms'],row['description'] )
        
#         duration.append((time_end - time_start)/60/1000)
    
# # for i in duration:
# #     print(i)

In [11]:
# merge the all the data files to data_full_df

In [12]:
frames_data = [data_pd1,data_pd2,data_pd3,data_pd4]
data_full_df = pd.concat(frames_data,ignore_index = True)
print(data_full_df.shape)
data_full_df

(2748, 7)

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333
3,1219622400000,2.415193e+08,3.573744e+08,19.039052,524.080161,0.000000,26.100000
4,1219708800000,2.413773e+08,3.578973e+08,18.863029,524.697233,0.000000,25.750000
...,...,...,...,...,...,...,...
2743,1456358400000,2.426225e+08,1.686769e+08,36.964348,519.325219,20.366667,0.000000
2744,1456444800000,2.424894e+08,1.671778e+08,36.919179,519.895378,20.150000,0.000000
2745,1456531200000,2.423552e+08,1.656819e+08,36.869195,520.471408,19.916667,0.000000
2746,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000
2747,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000

In [15]:
#round down the data_full_df

round_data = data_full_df['ut_ms'].apply(round_down)
data_full_df['round_time'] = round_data
data_full_df.head(3)

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,round_time
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,0
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333,1
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333,2

In [51]:
# split data

# prev_row = 0
j = 1
data_full_df['season'] = ""
data_full_df['group'] = ""
for i in range(len(data_full_df)):
    if float (data_full_df['sunmars_km'][i])<prev_row:
        data_full_df['season'][i]=1
    if float (data_full_df['sunmars_km'][i])>prev_row:
        data_full_df['season'][i]=2
        
    prev_row = data_full_df['sunmars_km'][i]
    
    
    
# for i in range(len(data_full_df)):
#     if data_full_df['season'][i] != prev_row:
#         data_full_df['group'][i]= j
#     j = j+1
#     prev_row = data_full_df['season'][i]
    
    
        
print (data_full_df)

# output_data_file = "../mars_data_raw/data_full_season.csv"
# data_full_df.to_csv(output_data_file)

C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\baoxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

              ut_ms    sunmars_km  earthmars_km  sunmarsearthangle_deg  \
0     1219363200000  2.419389e+08  3.557560e+08              19.565076
1     1219449600000  2.418002e+08  3.563037e+08              19.390075
2     1219536000000  2.416603e+08  3.568432e+08              19.214734
3     1219622400000  2.415193e+08  3.573744e+08              19.039052
4     1219708800000  2.413773e+08  3.578973e+08              18.863029
...             ...           ...           ...                    ...
2743  1456358400000  2.426225e+08  1.686769e+08              36.964348
2744  1456444800000  2.424894e+08  1.671778e+08              36.919179
2745  1456531200000  2.423552e+08  1.656819e+08              36.869195
2746  1456617600000  2.422198e+08  1.641893e+08              36.814280
2747  1456704000000  2.420833e+08  1.627003e+08              36.754316

      solarconstantmars  eclipseduration_min  occultationduration_min  \
0            522.263999             4.166667                27.400000
1            522.863537             1.783333                26.933333
2            523.468926             0.000000                26.583333
3            524.080161             0.000000                26.100000
4            524.697233             0.000000                25.750000
...                 ...                  ...                      ...
2743         519.325219            20.366667                 0.000000
2744         519.895378            20.150000                 0.000000
2745         520.471408            19.916667                 0.000000
2746         521.053305            19.633333                 0.000000
2747         521.641064            19.383333                 0.000000

      round_time       date season group
0              0 2008-08-22      1
1              1 2008-08-23      1
2              2 2008-08-24      1
3              3 2008-08-25      1
4              4 2008-08-26      1
...          ...        ...    ...   ...
2743        2743 2016-02-25      1
2744        2744 2016-02-26      1
2745        2745 2016-02-27      1
2746        2746 2016-02-28      1
2747        2747 2016-02-29      1

[2748 rows x 11 columns]

In [43]:
# convert 'MS' to date
ms_list_event = []
for i in range(len(event_filter_df)):
    ms_list_event.append(event_filter_df['ut_ms'][i])

event_array = pd.to_datetime(ms_list_event,unit='ms'). to_pydatetime()
event_filter_df['date']= event_array


ms_list_data = []
for i in range(len(data_full_df)):
    ms_list_data.append(data_full_df['ut_ms'][i])

data_array = pd.to_datetime(ms_list_data,unit='ms'). to_pydatetime()
data_full_df['date']= data_array

data_full_df

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,round_time,date,season
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,0,2008-08-22,1
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333,1,2008-08-23,1
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333,2,2008-08-24,1
3,1219622400000,2.415193e+08,3.573744e+08,19.039052,524.080161,0.000000,26.100000,3,2008-08-25,1
4,1219708800000,2.413773e+08,3.578973e+08,18.863029,524.697233,0.000000,25.750000,4,2008-08-26,1
...,...,...,...,...,...,...,...,...,...,...
2743,1456358400000,2.426225e+08,1.686769e+08,36.964348,519.325219,20.366667,0.000000,2743,2016-02-25,1
2744,1456444800000,2.424894e+08,1.671778e+08,36.919179,519.895378,20.150000,0.000000,2744,2016-02-26,1
2745,1456531200000,2.423552e+08,1.656819e+08,36.869195,520.471408,19.916667,0.000000,2745,2016-02-27,1
2746,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000,2746,2016-02-28,1
2747,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,2747,2016-02-29,1

In [44]:
#merge event_filter_df and data_full_df into Mars_full_df

mars_full_df = pd.merge(event_filter_df,data_full_df,how = 'outer',on = 'round_time')
print(mars_full_df)

output_data_file = "../mars_data_raw/mars_full_data.csv"
mars_full_df.to_csv(output_data_file)

            ut_ms_x         description  round_time              date_x  \
0      1.219371e+12  MAR_PENUMBRA_START           0 2008-08-22 02:08:22
1      1.219371e+12    MAR_PENUMBRA_END           0 2008-08-22 02:12:32
2      1.219396e+12  MAR_PENUMBRA_START           0 2008-08-22 08:59:26
3      1.219396e+12    MAR_PENUMBRA_END           0 2008-08-22 09:03:11
4      1.219420e+12  MAR_PENUMBRA_START           0 2008-08-22 15:50:28
...             ...                 ...         ...                 ...
11325           NaN                 NaN        2573                 NaT
11326           NaN                 NaN        2574                 NaT
11327           NaN                 NaN        2575                 NaT
11328           NaN                 NaN        2576                 NaT
11329           NaN                 NaN        2577                 NaT

             ut_ms_y    sunmars_km  earthmars_km  sunmarsearthangle_deg  \
0      1219363200000  2.419389e+08  3.557560e+08              19.565076
1      1219363200000  2.419389e+08  3.557560e+08              19.565076
2      1219363200000  2.419389e+08  3.557560e+08              19.565076
3      1219363200000  2.419389e+08  3.557560e+08              19.565076
4      1219363200000  2.419389e+08  3.557560e+08              19.565076
...              ...           ...           ...                    ...
11325  1441670400000  2.452575e+08  3.719819e+08              15.534178
11326  1441756800000  2.453622e+08  3.714496e+08              15.716790
11327  1441843200000  2.454656e+08  3.709075e+08              15.899352
11328  1441929600000  2.455676e+08  3.703556e+08              16.081852
11329  1442016000000  2.456684e+08  3.697938e+08              16.264281

       solarconstantmars  eclipseduration_min  occultationduration_min  \
0             522.263999             4.166667                27.400000
1             522.263999             4.166667                27.400000
2             522.263999             4.166667                27.400000
3             522.263999             4.166667                27.400000
4             522.263999             4.166667                27.400000
...                  ...                  ...                      ...
11325         508.226182             0.000000                40.383333
11326         507.792574             0.000000                41.066667
11327         507.364899             0.000000                41.650000
11328         506.943157             0.000000                42.366667
11329         506.527349             0.000000                42.833333

          date_y season
0     2008-08-22      1
1     2008-08-22      1
2     2008-08-22      1
3     2008-08-22      1
4     2008-08-22      1
...          ...    ...
11325 2015-09-08      2
11326 2015-09-09      2
11327 2015-09-10      2
11328 2015-09-11      2
11329 2015-09-12      2

[11330 rows x 13 columns]

In [59]:
# Q1: how many times the eclipses happened per year?

In [ ]:
# group the event_full and count the times of eclipses : count the Mar_penumbra_start

In [ ]:
# Q2: the average number of eclipses happened in 4 year?

In [ ]:
# groupby and find the mean()

In [ ]:
# Q3: is the duration related to the distances to sun?

In [ ]:
# get the duration of eclipses and add to the data_full

In [ ]:
# split the data_full to few parts depends on the comparison of distance to sun (from away to closer)