In [2]:
# Dependencies :  pandas, numpy, matplotlib, os, cvs_reader, stats,

In [11]:
import pandas as pd
import os
import numpy as np

In [12]:
# reading data and set the DataFrame

In [13]:
data_file_1 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--evtf.csv')
data_file_2 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--evtf.csv')
data_file_3 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--evtf.csv')
data_file_4 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--evtf.csv')

event_pd1 = pd.read_csv(data_file_1)
event_pd2 = pd.read_csv(data_file_2)
event_pd3 = pd.read_csv(data_file_3)
event_pd4 = pd.read_csv(data_file_4)

print(event_pd1.shape)
print(event_pd2.shape)
print(event_pd3.shape)
print(event_pd4.shape)

data_file_5 = os.path.join('..','mars_data_raw','context--2008-08-22_2010-07-10--ltdata.csv')
data_file_6 = os.path.join('..','mars_data_raw','context--2010-07-10_2012-05-27--ltdata.csv')
data_file_7 = os.path.join('..','mars_data_raw','context--2012-05-27_2014-04-14--ltdata.csv')
data_file_8 = os.path.join('..','mars_data_raw','context--2014-04-14_2016-03-01--ltdata.csv')

data_pd1 = pd.read_csv(data_file_5)
data_pd2 = pd.read_csv(data_file_6)
data_pd3 = pd.read_csv(data_file_7)
data_pd4 = pd.read_csv(data_file_8)

print(data_pd1.shape)
print(data_pd2.shape)
print(data_pd3.shape)
print(data_pd4.shape)

(76776, 2)
(75208, 2)
(88175, 2)
(88964, 2)
(687, 7)
(687, 7)
(687, 7)
(687, 7)

In [14]:
event_pd3

               ut_ms                description
0      1338078195000                 MRB_AOS_10
1      1338078593000    MAD_LOS_10_/_RTLT_01146
2      1338078621000    CEB_LOS_10_/_RTLT_01146
3      1338079136000    MAD_LOS_08_/_RTLT_01146
4      1338080171000    MAD_LOS_05_/_RTLT_01146
...              ...                        ...
88170  1397429515000    MLG_AOS_10_/_RTLT_00616
88171  1397432570000                 MSL_AOS_05
88172  1397433104000                 MSL_AOS_10
88173  1397433407000  MSL_/_RANGE_06000KM_START
88174  1397433518000            4000_KM_DESCEND

[88175 rows x 2 columns]

In [29]:
# merge all the the event files to event_full_df

In [15]:
frames = [event_pd1,event_pd2,event_pd3,event_pd4]
event_full_df = pd.concat(frames, ignore_index=True)
print(event_full_df.shape)
event_full_df

(329123, 2)

                ut_ms              description
0       1219364253000  MLG_LOS_05_/_RTLT_02373
1       1219364356000  NNO_AOS_00_/_RTLT_02373
2       1219365058000  MLG_LOS_02_/_RTLT_02373
3       1219365755000  NNO_AOS_05_/_RTLT_02373
4       1219367159000  NNO_AOS_10_/_RTLT_02374
...               ...                      ...
329118  1456788144000           2000_KM_ASCEND
329119  1456788281000  MRB_/_RANGE_06000KM_END
329120  1456788582000  KLZ_AOS_05_/_RTLT_01076
329121  1456789457000           4000_KM_ASCEND
329122  1456790121000               MRB_AOS_00

[329123 rows x 2 columns]

In [31]:
# merge the all the data files to data_full_df

In [17]:
frames_data = [data_pd1,data_pd2,data_pd3,data_pd4]
data_full_df = pd.concat(frames_data,ignore_index=True)
print(data_full_df.shape)
data_full_df

(2748, 7)

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333
3,1219622400000,2.415193e+08,3.573744e+08,19.039052,524.080161,0.000000,26.100000
4,1219708800000,2.413773e+08,3.578973e+08,18.863029,524.697233,0.000000,25.750000
...,...,...,...,...,...,...,...
2743,1456358400000,2.426225e+08,1.686769e+08,36.964348,519.325219,20.366667,0.000000
2744,1456444800000,2.424894e+08,1.671778e+08,36.919179,519.895378,20.150000,0.000000
2745,1456531200000,2.423552e+08,1.656819e+08,36.869195,520.471408,19.916667,0.000000
2746,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000
2747,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000

In [18]:
data_full_df["Minutes"] = ""
data_full_df["Hours"]=""
data_full_df["Days"]=""
data_full_df["Cumulative Days"]=""
data_full_df["Year"]=""
data_full_df

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,Minutes,Hours,Days,Cumulative Days,Year
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,,,,,
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333,,,,,
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333,,,,,
3,1219622400000,2.415193e+08,3.573744e+08,19.039052,524.080161,0.000000,26.100000,,,,,
4,1219708800000,2.413773e+08,3.578973e+08,18.863029,524.697233,0.000000,25.750000,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
2743,1456358400000,2.426225e+08,1.686769e+08,36.964348,519.325219,20.366667,0.000000,,,,,
2744,1456444800000,2.424894e+08,1.671778e+08,36.919179,519.895378,20.150000,0.000000,,,,,
2745,1456531200000,2.423552e+08,1.656819e+08,36.869195,520.471408,19.916667,0.000000,,,,,
2746,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000,,,,,
2747,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,,,,,

In [64]:
#data_full_df["Days"]

In [21]:
#converting milli seconds to minutes (1 minute = 60000 milliseconds)

data_full_df["Minutes"] = data_full_df["ut_ms"]/60000 
data_full_df["Minutes"]

#converting hours to minutes 1 hour = 60 minutes

data_full_df["Hours"] = data_full_df["Minutes"]/60
data_full_df

#converting hours to days 1 day = 24 hrs
data_full_df["Days"] = data_full_df["Hours"]/24 
data_full_df

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,Minutes,Hours,Days,Cumulative Days,Year
0,1219363200000,2.419389e+08,3.557560e+08,19.565076,522.263999,4.166667,27.400000,20322720.0,338712.0,14113.0,0,year1
1,1219449600000,2.418002e+08,3.563037e+08,19.390075,522.863537,1.783333,26.933333,20324160.0,338736.0,14114.0,1,year1
2,1219536000000,2.416603e+08,3.568432e+08,19.214734,523.468926,0.000000,26.583333,20325600.0,338760.0,14115.0,2,year1
3,1219622400000,2.415193e+08,3.573744e+08,19.039052,524.080161,0.000000,26.100000,20327040.0,338784.0,14116.0,3,year1
4,1219708800000,2.413773e+08,3.578973e+08,18.863029,524.697233,0.000000,25.750000,20328480.0,338808.0,14117.0,4,year1
...,...,...,...,...,...,...,...,...,...,...,...,...
2743,1456358400000,2.426225e+08,1.686769e+08,36.964348,519.325219,20.366667,0.000000,24272640.0,404544.0,16856.0,682,year4
2744,1456444800000,2.424894e+08,1.671778e+08,36.919179,519.895378,20.150000,0.000000,24274080.0,404568.0,16857.0,683,year4
2745,1456531200000,2.423552e+08,1.656819e+08,36.869195,520.471408,19.916667,0.000000,24275520.0,404592.0,16858.0,684,year4
2746,1456617600000,2.422198e+08,1.641893e+08,36.814280,521.053305,19.633333,0.000000,24276960.0,404616.0,16859.0,685,year4
2747,1456704000000,2.420833e+08,1.627003e+08,36.754316,521.641064,19.383333,0.000000,24278400.0,404640.0,16860.0,686,year4

In [20]:
#assigning year values to "Years" column
#1 martian year = 687 days

martian_year = 687
year = 1
cumulative_days = 0
for index,rows in data_full_df.iterrows():
    days = index % martian_year
    print(days)
    data_full_df.loc[index,"Year"] = "year" + str(year)
    data_full_df.loc[index,"Cumulative Days"] = days
    if days == martian_year - 1:
        year+=1
        #print(year)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686

In [122]:
data_full_df.groupby(['Year']).count()

,ut_ms,sunmars_km,earthmars_km,sunmarsearthangle_deg,solarconstantmars,eclipseduration_min,occultationduration_min,Minutes,Hours,Days,Cumulative Days
Year,,,,,,,,,,,
year1,687,687,687,687,687,687,687,687,687,687,687
year2,687,687,687,687,687,687,687,687,687,687,687
year3,687,687,687,687,687,687,687,687,687,687,687
year4,687,687,687,687,687,687,687,687,687,687,687

In [21]:
df=pd.DataFrame()
a=['col1','col2','col3','col4']
for i in a:
    df[i]=np.nan
    
df

Empty DataFrame
Columns: [col1, col2, col3, col4]
Index: []

In [20]:
df = pd.DataFrame(columns=['A'])
df

Empty DataFrame
Columns: [A]
Index: []

In [33]:
df = pd.DataFrame({"A": [1,2,3], "B": [2,3,4]})
df

   A  B
0  1  2
1  2  3
2  3  4

In [34]:
df.assign(C="",D=np.nan)

   A  B C   D
0  1  2   NaN
1  2  3   NaN
2  3  4   NaN

In [32]:
df = pd.DataFrame(columns=['E'])
df

Empty DataFrame
Columns: [E]
Index: []

In [38]:
df1 = pd.DataFrame({
              "F": []
                   })
df1

Empty DataFrame
Columns: [F]
Index: []

In [ ]:
# Q1: how many times the eclipses happened per year?

In [ ]:
# group the event_full and count the times of eclipses : count the Mar_penumbra_start

In [ ]:
# Q2: the average number of eclipses happened in 4 year?

In [ ]:
# groupby and find the mean()

In [ ]:
# Q3: is the duration related to the distances to sun?

In [ ]:
# get the duration of eclipses and add to the data_full

In [ ]:
# split the data_full to few parts depends on the comparison of distance to sun (from away to closer)